body {
	/*background: #002345 center top fixed;
	size: cover;*/
	background: rgba(13,24,42,1);
	background: linear-gradient(0deg, rgba(13,24,42,1) 0%, rgba(24,42,75,1) 42%, rgba(42,85,124,1) 100%);
	color: #ecefec;
	font-family: 'Roboto Mono', 'Roboto', monospace, courier;
	font-size: 1em;
	font-weight: 700;
	text-align: center;
}

#main {
	/*border-top: 2px solid #000;
	border-bottom: 2px solid #000;*/
	color: #cceecc;
}
#main h1, h2, h3 , h4, h5, h6 {
	font: "Roboto Mono", 'Roboto', monospace;
	font-weight: bold;
	text-align: justify;
}
#main p {
	font: 1em "Roboto Mono", 'Roboto', monospace;
	font-weight: bold;
	margin: 0 auto;
	max-width: 850px;
	text-align: center;
}
#main a {
	color: #6CC;
	text-decoration: none;
}
#main a:hover {
	color: #ffaaff;
	text-decoration: none;
}
#main a:visited {
	color: #ee85ee;
	text-decoration: none;
}


#menu {
	font-size: 0.85em;
}
#menu ul {
	list-style: none;
	margin: 12px 6px;
	padding: 0;
}
#menu li {
	display: inline-block;
}
#menu a {
	color: #fff;
	text-decoration: none;
}
#menu a:hover{
	color: #fad;
}
#menu a:visited {
	color: #e8a;
}


header {
	color: #c9c;
	font-family: ‘Roboto Mono’, ‘Roboto’, monospace;
	font-size: 1.5em;
	margin: 0 auto;
	padding: 5px 0;
	text-align: center;
}
header img {
	width: 420px;
}


hr.dotted {
	border: 3px dotted #696;
	height: 2px;
	margin-top: 24px;
	margin-bottom: 24px;
	text-align: center;
	width: 69%;
}


.title {
	color: #ffffff;
	font-size: 1.24em;
}
/*.description {
	color: #ddffdd;
	font-size: 130%;
}*/
#illustration {
	color: #ffffff;
	text-align: center;
}


.frame img {
	box-shadow: 0 0 10px #000 inset;
	-moz-box-shadow: 0 0 10px #000 inset;
	-webkit-box-shadow: 0 0 10px #000 inset;
	/*border: 1px solid #C66;*/
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: inline;
	margin: 0 3px;
	padding: 10px;
	width: 142px;
}


.gallery {
	line-height: 0;
	-webkit-column-count: 4;
	-webkit-column-gap: 6px;
	-moz-column-count: 4;
	-moz-column-gap: 6px;
	column-count: 4;
	column-gap: 6px;
	width: 85%;
	position: static;
	display: inline-block;
	/*max-width: 720px;*/
}
@media only screen and (min-width : 921px) and (max-width: 1024px) {
	.gallery {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}
@media only screen and (min-width : 481px) and (max-width: 920px) {
	.gallery {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}
@media only screen and (min-width : 200px) and (max-width: 480px) {
	.gallery {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}
.gallery p {
	color: #aaffaa;
	font-family: 'Roboto Mono', monospace, courier;
	font-size: 1.2em;
	text-align: center;
}
.gallery img {
	/*background: rgba(200,242,242,1);*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*display: block;
	margin: 0 auto;*/
	margin-bottom: 5px;
	/*padding: 5px;*/
	transition: 0.85s;
	width: 100% !important;
	height: auto !important;
}
.gallery img:hover {
	/*filter: drop-shadow(5px 5px 3px #bbccee);*/
	filter: brightness(1.13) contrast(113%);
	transform: scale(1.085);
}


.lightbox {
	/* default to hidden */
	display: none;
	
	/* overlay entire screen */
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	/* padding around image */
	padding: 1em;
	
	/* translucent background */
	background: rgba(0, 0, 0, 0.8);
}
.lightbox:target {
	display: block;
}
.lightbox:active, .lightbox a {
	/* full width and height  */
	display: block;
	width: 100%;
	height: 100%;
	
	/* size and position background image  */
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}


.portrait {
	clear: left;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	/*margin-right: 29%;*/
	margin: 0 auto;
	padding: 24px 6px;
	width: 125px;
}
#about {
	color: #ddeedd;
	font-size: 1.13em;
}


.social img {
	border: 2px solid #428542;
	box-shadow: 10px 8px 6px #003;
	-moz-box-shadow: 10px 8px 6px #003;
	-webkit-box-shadow: 10px 8px 6px #003;
	border-radius: 24%;
	-moz-border-radius: 24%;
	-webkit-border-radius: 24%;
	display: inline;
	margin: 8px 6px;
	max-width: 69px;
	padding: 12px;
}
.social img:hover {
	box-shadow: 10px 8px 6px #666;
	-moz-box-shadow: 10px 8px 6px #666;
	-webkit-box-shadow: 10px 8px 6px #666;
}


footer {
	align: center;
	background: #001122;
	clear: both;
	color: #aaeedd;
	font-family: "Roboto Mono", 'Roboto', monospace;
	font-size: 1em;
	font-weight: bold;
	margin: 0 -6px -6px -6px;
	/*max-width: 420px;*/
	padding: 13px 6px;
	text-align: center;
	width: 100%;
}
footer a {
	color: #aaeedd;
}
footer a:hover {
	color: #ff6969;
}
